body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.board-row .square:first-child {
  border-left: none;
}
.board-row .square:last-child {
  border-right: none;
}
.board-row:first-child .square {
  border-top: none;
}
.board-row:last-child .square {
  border-bottom: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.step-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #999;
  color: #fff;
  cursor: pointer;
  margin: 2px 0;
}

.current-state {
  font-weight: bold;
  background-color: darkgreen;
}

.sort-button {
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #999;
  color: #fff;
  cursor: pointer;
}

.winner-square {
  background-color: darkgreen;
  color: white;
}
